[submodule "catkin_ws/src/asv_sim"]
	path = catkin_ws/src/asv_sim
	url = https://github.com/Marcos-Seafloor/asv_sim.git
[submodule "catkin_ws/src/asv_helm"]
	path = catkin_ws/src/asv_helm
	url = https://github.com/Marcos-Seafloor/asv_helm.git
[submodule "catkin_ws/src/mru_transform"]
	path = catkin_ws/src/mru_transform
	url = https://github.com/Marcos-Seafloor/mru_transform
[submodule "catkin_ws/src/udp_bridge"]
	path = catkin_ws/src/udp_bridge
	url = https://github.com/Marcos-Seafloor/udp_bridge.git
[submodule "catkin_ws/src/marine_msgs"]
	path = catkin_ws/src/marine_msgs
	url = https://github.com/Marcos-Seafloor/marine_msgs.git
[submodule "catkin_ws/src/mbes_sim"]
	path = catkin_ws/src/mbes_sim
	url = https://github.com/Marcos-Seafloor/mbes_sim.git
[submodule "catkin_ws/src/command_bridge"]
	path = catkin_ws/src/command_bridge
	url = https://github.com/Marcos-Seafloor/command_bridge.git
[submodule "catkin_ws/src/mission_manager"]
	path = catkin_ws/src/mission_manager
	url = https://github.com/Marcos-Seafloor/mission_manager.git
[submodule "catkin_ws/src/dubins_curves"]
	path = catkin_ws/src/dubins_curves
	url = https://github.com/Marcos-Seafloor/dubins_curves.git
[submodule "catkin_ws/src/path_follower"]
	path = catkin_ws/src/path_follower
	url = https://github.com/Marcos-Seafloor/path_follower.git
[submodule "catkin_ws/src/kongsberg_em_control"]
	path = catkin_ws/src/kongsberg_em_control
	url = https://github.com/Marcos-Seafloor/kongsberg_em_control.git
[submodule "catkin_ws/src/geographic_visualization_msgs"]
	path = catkin_ws/src/geographic_visualization_msgs
	url = https://github.com/Marcos-Seafloor/geographic_visualization_msgs.git
[submodule "catkin_ws/src/joy_to_helm"]
	path = catkin_ws/src/joy_to_helm
	url = https://github.com/Marcos-Seafloor/joy_to_helm.git
[submodule "catkin_ws/src/hover"]
	path = catkin_ws/src/hover
	url = https://github.com/Marcos-Seafloor/hover.git
[submodule "catkin_ws/src/path_planner"]
	path = catkin_ws/src/path_planner
	url = https://github.com/Marcos-Seafloor/path_planner.git
[submodule "catkin_ws/src/mpc"]
	path = catkin_ws/src/mpc
	url = https://github.com/Marcos-Seafloor/mpc.git
[submodule "catkin_ws/src/course_made_good"]
	path = catkin_ws/src/course_made_good
	url = https://github.com/Marcos-Seafloor/course_made_good.git
[submodule "catkin_ws/src/ais"]
	path = catkin_ws/src/ais
	url = https://github.com/Marcos-Seafloor/ais.git
[submodule "catkin_ws/src/axis_tracker"]
	path = catkin_ws/src/axis_tracker
	url = https://github.com/Marcos-Seafloor/axis_tracker.git
[submodule "catkin_ws/src/br24_radar"]
	path = catkin_ws/src/br24_radar
	url = https://github.com/Marcos-Seafloor/br24_radar.git
[submodule "catkin_ws/src/echo_helm"]
	path = catkin_ws/src/echo_helm
	url = https://github.com/Marcos-Seafloor/echo_helm.git
[submodule "catkin_ws/src/flir"]
	path = catkin_ws/src/flir
	url = https://github.com/Marcos-Seafloor/flir.git
[submodule "catkin_ws/src/kongsberg_em"]
	path = catkin_ws/src/kongsberg_em
	url = https://github.com/Marcos-Seafloor/kongsberg_em.git
[submodule "catkin_ws/src/manda_coverage"]
	path = catkin_ws/src/manda_coverage
	url = https://github.com/Marcos-Seafloor/manda_coverage.git
[submodule "catkin_ws/src/mbr"]
	path = catkin_ws/src/mbr
	url = https://github.com/Marcos-Seafloor/mbr.git
[submodule "catkin_ws/src/posmv"]
	path = catkin_ws/src/posmv
	url = https://github.com/Marcos-Seafloor/posmv.git
[submodule "catkin_ws/src/radar_obstacle_detection"]
	path = catkin_ws/src/radar_obstacle_detection
	url = https://github.com/Marcos-Seafloor/radar_obstacle_detection.git
[submodule "catkin_ws/src/range_and_bearing"]
	path = catkin_ws/src/range_and_bearing
	url = https://github.com/Marcos-Seafloor/range_and_bearing.git
[submodule "catkin_ws/src/seapath"]
	path = catkin_ws/src/seapath
	url = https://github.com/Marcos-Seafloor/seapath.git
[submodule "catkin_ws/src/survey_manager"]
	path = catkin_ws/src/survey_manager
	url = https://github.com/Marcos-Seafloor/survey_manager.git
[submodule "catkin_ws/src/traffic_sim"]
	path = catkin_ws/src/traffic_sim
	url = https://github.com/Marcos-Seafloor/traffic_sim.git
[submodule "catkin_ws/src/zboat_helm"]
	path = catkin_ws/src/zboat_helm
	url = https://github.com/Marcos-Seafloor/zboat_helm.git
[submodule "catkin_ws/src/camp"]
	path = catkin_ws/src/camp
	url = https://github.com/Marcos-Seafloor/AutonomousMissionPlanner.git
[submodule "catkin_ws/src/marine_traffic_com"]
	path = catkin_ws/src/marine_traffic_com
	url = https://github.com/Marcos-Seafloor/marine_traffic_com.git
[submodule "catkin_ws/src/transform_manager"]
	path = catkin_ws/src/transform_manager
	url = https://github.com/Marcos-Seafloor/transform_manager.git
[submodule "catkin_ws/src/platforms/ben_description"]
	path = catkin_ws/src/platforms/ben_description
	url = https://github.com/Marcos-Seafloor/ben_description
[submodule "catkin_ws/src/helm_manager"]
	path = catkin_ws/src/helm_manager
	url = https://github.com/Marcos-Seafloor/helm_manager
